@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', Arial, sans-serif; 
}

html {
    font-size: 62.5%; 
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background: rgb(48, 17, 49);
    color: white;
}

header {
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    padding: 1rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: #ff4081;
    font-weight: 800;
    cursor: pointer;
    transition: transform 0.5s ease;
    text-decoration: none;
}

.logo:hover {
    transform: scale(1.1);
}

nav a {
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    border-bottom: 3px solid transparent;
    text-decoration: none;
}

nav a:hover,
nav a.active {
    color: #ff4081;
    border-bottom: 3px solid #ff4081;
}

@media (max-width: 995px) {
    nav {
        display: none;
        flex-direction: column;
    }

    nav.active {
        display: flex;
    }

    nav a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    nav a:hover,
    nav a.active {
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #ff4081;
    }
}

section {
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}

.about_me {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 8rem;
    background-color: rgb(48, 17, 49); 
}

.about_me .about_me-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #ff4081;
}

.about_me-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.about_me-content p {
    font-size: 1.5rem;  
    line-height: 1.7;   
}

.about_me_img {
    border-radius: 50%;
}

.about_me_img img {
    position: relative;
    width: 25vw;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s linear;
}

.about_me_img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.my_skills .my_skills-content h1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 3rem;
    margin-top: 6rem;
}

.my_skills-content p {
    font-size: 1.5rem;
    line-height: 1.8;
    max-width: 1300px;
    margin-bottom: 1rem;
}

.contact_me .contact_me-content h1{
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    margin-top: 6rem;
}

.social_icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #ff4081;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: white;

}

.social_icons a:hover{
    color:rgb(48, 17, 49);
    transform: scale(1.3) translateY(-5px);
    background-color:#ff4081;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color:rgb(48, 17, 49);
    border-radius: 4rem;
    font-size: 1.6rem;

}




@media (max-width: 995px) {
    .about_me {
        flex-direction: column;
        gap: 4rem;
        padding-left: 0; 
        padding: 2rem 9%;
    }

    .about_me_img {
        position: static;
        width: 15rem;
        height: 15rem;
        margin: 0 auto;
        box-shadow: 0 0 1rem 0.3rem rgba(255, 64, 129, 0.7);
    }
}
